header {
  /* background: blue !important; */
  padding: 25px 10%;
}
.navbar {
    padding: 15px;
}
.navbar-brand a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-link a {
  text-decoration: none;
  color: black;
}
